<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Firebase Test</title>
</head>
<body>
    <form action="{% url 'firebase-test' %}" method="post">
        {% csrf_token %}
        <p>제목</p>
        <input type="text" name="title">
        <p>내용</p>
        <input type="text" name="content">
        <p>토큰</p>
        <input type="text" name="token">
        <input type="submit">
    </form>
</body>
</html>