<!-- chat/templates/chat/room.html -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Chat Room</title>
</head>
<body>
    <textarea id="chat-log" cols="100" rows="20"></textarea><br/>
    <p>
        method: <input id="chat-method-input" type="text" size="100"/><br/>
    </p>
    <p>
        message: <input id="chat-message-input" type="text" size="100"/><br/>
    </p>

    <input id="chat-message-submit" type="button" value="Send"/>
</body>
<script>
    var roomName = {{ room_name_json }};
    var ws_scheme = window.location.protocol === "https:" ? "wss://" : "ws://";
    var chatSocket = new WebSocket(
        ws_scheme + window.location.host +
        '/ws/livequiz/' + roomName + '/');

    chatSocket.onmessage = function(e) {
        var data = JSON.parse(e.data);
        var message = data['message'];
        console.log('received:', data);
        console.log('message received: ', message);
        document.querySelector('#chat-log').value += (message + '\n');
    };

    chatSocket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };

    document.querySelector('#chat-message-input').focus();
    document.querySelector('#chat-message-input').onkeyup = function(e) {
        if (e.keyCode === 13) {  // enter, return
            document.querySelector('#chat-message-submit').click();
        }
    };

    document.querySelector('#chat-message-submit').onclick = function(e) {
        var messageInputDom = document.querySelector('#chat-message-input');
        var message = messageInputDom.value;

        var methodInputDom = document.querySelector('#chat-method-input');
        var method = methodInputDom.value;

        chatSocket.send(JSON.stringify({
            'method' : method,
            'user_token': message
        }));

        messageInputDom.value = '';
    };
</script>
</html>